[submodule "lab1"]
	path = lab1
	url = git@github.com:daniiarkhodzhaev-at/lab1.git
[submodule "lab2"]
	path = lab2
	url = git@github.com:daniiarkhodzhaev-at/lab2.git
[submodule "lab3"]
	path = lab3
	url = git@github.com:daniiarkhodzhaev-at/lab3.git
[submodule "lab6"]
	path = lab6
	url = https://github.com/daniiarkhodzhaev-at/lab6
[submodule "lab8"]
	path = lab8
	url = git@github.com:daniiarkhodzhaev-at/lab8.git
